<!DOCTYPE css>
<html>
<style>
body {
  background-color:#00778B;
}
h1 {color: #FFC72C;text-align: center;}
p {font-family: timesnewroman;font-size: 20px;}
p.center {font-size:16px; text-align:center}
.quoted {font-style: italic; font-size:12pt;text-indent:1in }
A {font-family:arial; font-size:20px; color : #234567}
a:hover {color : #BCC0CA}
</style>
</head>
<body>


